
<%- contentFor('hero') %>
<section class="hero intro">
  <div class="hero-content">
    <h2>Oh <span class="play">hayy!</span></h2>
		<p>I'm Gaston -- </p>
		<p>Problem solver, knowledge hungy, and BBQ lover.</p>

		<h4>Currently open to new opportunities! </h4>

		<div class="contact">
		<a href="mailto:gaston.mazza1@gmail.com">
		<div class="button button1">
			<img src="img/mail.svg">
		</div>
		</a>

		<a href="https://www.linkedin.com/in/mario-mazza/" target="none">
		<div class="button button1">
			<img src="img/linkedin.svg" alt="icon">
		</div>
		</a>

	</div>
	
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <div id="main">
		<div>user:
			<span id="user"></span>
		</div>
		<div>chatbot:
			<span id="chatbot"></span>
		</div>
		<div>
			<input id="input" type="text" placeholder="say anything..." autocomplete="off" />
		</div>
	</div>
	
</div>
